/*-------------------------------------------NavBar-------*/





/*-------------------------------------------Background-------*/

.container-main {
    background: url("../img/guitar_n64.jpg") no-repeat top left fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;

    background-position: center;

    height: 100vh;  
}




