@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap');

/*-------------------------------------------NavBar-------*/

.container-fluid {
    padding: 0;
    margin: 0;
}

.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #262525;
}

ul .nav-link {
    color: #fff;
    font-weight: bold;
}





a h1 .diddy {
    font-family: "Londrina Solid", cursive;
    font-weight: 900;
    font-size: 2em;
    color: red;
    text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow; /* Reference - https://stackoverflow.com/questions/2570972/css-font-border */
    letter-spacing: -2px;
    transform-style: preserve-3d;
}
a h1 .vs {
    font-family: "Londrina Solid", cursive;
    color: #fff;
    
}
a h1 .kingdom {
    font-family: "Luckiest Guy", cursive;
    font-weight: 900;
    color: #fff;    
    
}



/*-------------------------------------------Background-------*/

.container-main {
    background: url("../img/guitar_n64.jpg") no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;  
}

/*-------------------------------------------Footer-------*/







