@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&display=swap');

/* body {
    background-image: linear-gradient(-90deg, rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,1));
} */

/* header {
    color: #fff;
} */

/*---------------------------------------Background--*/

.container-main {
    background: url("../img/background_1_crop2.jpg") no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
    
    position: relative;
}

/* used this from the first bootstrap project as covers it up and dampens it nicely */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}


/*---------------------------------------General--*/

header {
    padding: 0;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}


/*---------------------------------------NavBar--*/

#navigation {
    background-color: #262525;
    color: #fff;  
}

.name {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.name div a {
    text-decoration: none;
    color: #fff;   
}

.diddy {
    font-family: "Londrina Solid", cursive;
    font-size: 4em;
    letter-spacing: -4px;
    display: inline-block;
}

.vs {
    display: inline-block;
    font-size: 2em;
}

.kingdom {
    font-family: "Luckiest Guy", cursive;
    display: inline-block;
    font-size: 2em;
}


/*---------------------------------------Navbar Menu--*/

.menu li a  {
    color: #fff;
    /* text-decoration: none; */
}

.menu li a:hover  {
    color: #faeeed;
    font-weight: bold;
    text-decoration: none;
}



/*---------------------------------------Footer--*/

footer {
    background-color: #262525;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 10px;

    color: #fff;

    height: 75px;

    border-top: 1px solid #fff;
}

.social li a i {
   